page-cadastro-insumo {
   
    .ion-item-border {
        --border-width-top: 1;
        --border-width-right: 1;
        --border-width-bottom: 1;
        --border-width-left: 1;
    }
    .cell-class {
        border-color: rgb(24, 22, 22); 
        border-width: .01em; 
        border-style:solid; 
        //margin-bottom : -1px;
        //background-color: lightgrey
      }

}
