<!--
  Generated template for the CadastroInsumoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Cadastro de Insumo
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()" >
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formGroup" (ngSubmit)="cadastrarInsumo()">
    <ion-item>
      <ion-label stacked>Código Almoxarifado</ion-label>
      <ion-input formControlName="codigoalmox" type="number" [readonly]="editarInsumo"></ion-input>
    </ion-item>
     <ion-item>
      <ion-label stacked>Nome*</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
      <ion-input formControlName="id" type="hidden"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.nome.dirty && formGroup.controls.nome.errors" margin-left >Valor inválido</p>
    <ion-item>
      <ion-label stacked>Nomenclatura*</ion-label>
      <ion-input formControlName="nomenclatura" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.nomenclatura.dirty && formGroup.controls.nomenclatura.errors" margin-left >Valor inválido</p>
    
    
    <ion-item>
      <ion-label>Categorias</ion-label>
      <ionic-selectable 
        item-content 
        [items]="categoriasInsumos"
        itemValueField="id"
        itemTextField="nome"
        formControlName="categorias"
        [hasInfiniteScroll]="true"
        [canSearch]="true"
        [focusSearchbar]="true"
        (onChange)="imprimeItem($event)"
        [isMultiple]="true"
        [canClear]="true"
        [placeholder]="'Selecione a categoria'">
  
        <ng-template ionicSelectableItemTemplate let-item="item">
         
          <ion-item>
            <ion-label text-wrap class="label_12_b">
              {{item.nome}} 
            </ion-label>
          </ion-item>
        </ng-template>
  
      </ionic-selectable>
    </ion-item>
  

      <ion-grid >
        <ion-row style="justify-content: center;">Unidades e Quantidades de Consumo/Movimentação</ion-row>
        <ion-row></ion-row>

        <ion-row>
          <ion-col>
            <ionic-selectable 
              item-content
              [items]="tiposconsumos"
              formControlName="consumo"
              itemValueField="id"
              itemTextField="nome"
              [focusSearchbar]="true"
              (onChange)="tipoConsumoChange($event)"
              [hasVirtualScroll]="true"
              >
              <ng-template ionicSelectableItemTemplate let-item="item" class="my-center-text">
                <ion-item>
                  <ion-label text-wrap class="label_12_b">
                    {{(item.nome == "ENTRADA" || item.nome == "SAIDA") ? "COMO EU DOU "+item.nome :"COMO EU "+item.nome}}
                  </ion-label>
                </ion-item>
              </ng-template>
            </ionic-selectable>
          </ion-col>
          <ion-col>

          </ion-col>
        </ion-row>

      </ion-grid>


    <ion-item>
      <ion-label stacked>Valor</ion-label>
      <ion-input disabled type="number" formControlName="valor"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>Observação</ion-label>
      <ion-textarea formControlName="observacao" type="text"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label stacked>Essencial?</ion-label>
      <ion-toggle formControlName="essencial" ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label stacked>Controlado?</ion-label>
      <ion-toggle formControlName="controlado"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label stacked >Órgão/Entidade Controlador</ion-label>
      <ionic-selectable 
        item-content 
        [items]="orgaos"
        itemValueField="id"
        itemTextField="nome"
        formControlName="orgaos"
        [hasInfiniteScroll]="true"
        [canSearch]="true"
        [focusSearchbar]="true"
        (onChange)="imprimeItem($event)"
        [isMultiple]="true"
        [canClear]="true">
  
        <ng-template ionicSelectableItemTemplate let-item="item">
         
          <ion-item>
            <ion-label text-wrap class="label_12_b">
              {{item.nome}} 
            </ion-label>
          </ion-item>
        </ng-template>
  
      </ionic-selectable>
    </ion-item>
    <ion-item>
      <ion-label stacked>Data de Validade</ion-label>
      <ion-datetime disabled formControlName="datavalidade" ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label stacked>Quantidade</ion-label>
      <ion-input disabled formControlName="quantidade" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Unidade de Entrada</ion-label>
      <ionic-selectable 
        item-content 
        [items]="unidades"
        formControlName="unidade"
        itemValueField="id"
        itemTextField="nome"
        [canSearch]="true"
        [focusSearchbar]="true"
        (onChange)="insereunidadeEntradaDTO($event)">
  
        <ng-template ionicSelectableItemTemplate let-port="item">
         
          <ion-item>
            <ion-label text-wrap class="label_12_b">
              {{port.nome}} 
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="label_14">
              Sigla: {{port.sigla}}
            </ion-label>
          </ion-item>
  
        </ng-template>
  
      </ionic-selectable>
    </ion-item>

    <ion-list radio-group
    [formControl]="formGroup.controls.precisairradiacao" >
    <ion-list-header>
      Precisa de Irradiação?
    </ion-list-header>
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="true"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="false"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list radio-group 
    [formControl]="formGroup.controls.precisacontrolequalidade">
    <ion-list-header>
      Precisa de Controle da Qualidade?
    </ion-list-header>
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="true"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="false"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>Taxa de Consumo</ion-label>
      <ion-input formControlName="taxadeconsumo" type="number"></ion-input>
    </ion-item>


    
    
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Registrar</button>
 </form>

</ion-content>
