<!--
  Generated template for the CadastroInsumoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Cadastro de Insumo
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()" >
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formGroup" (ngSubmit)="cadastrarInsumo()">
 

  
    
    <ion-item>
      <ion-label stacked>Nome*</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.nome.dirty && formGroup.controls.nome.errors" margin-left >Valor inválido</p>
    <ion-item>
      <ion-label stacked>Nomenclatura*</ion-label>
      <ion-input formControlName="nomenclatura" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.nomenclatura.dirty && formGroup.controls.nomenclatura.errors" margin-left >Valor inválido</p>
    <ion-item>
      <ion-label stacked>Valor</ion-label>
      <ion-input type="text" formControlName="valor"  
      [brmasker]="{money: true, thousand: '.', decimalCaracter: ',', decimal: '2'}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Código Almoxarifado</ion-label>
      <ion-input formControlName="codigo_almox" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Observação</ion-label>
      <ion-textarea formControlName="observacao" type="text"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label stacked>Essencial?</ion-label>
      <ion-toggle formControlName="essencial" ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label stacked>Data de Validade</ion-label>
      <ion-datetime formControlName="data_validade" ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label stacked>Quantidade</ion-label>
      <ion-input formControlName="quantidade" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Taxa de Consumo</ion-label>
      <ion-input formControlName="taxa_de_consumo" type="number"></ion-input>
    </ion-item>
    
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Registrar</button>
 
  


</form>

</ion-content>
