<!--
  Generated template for the CadastroMovimentacaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>
     Movimentação de Insumos
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()" >
        <span ion-text color="primary" showWhen="ios">Cancel </span>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item color="item_entrada">
    <ion-label>Data da Movimentação</ion-label>
    <ion-input type="datetime-local" [(ngModel)]="datamovimentacao"> </ion-input>
  </ion-item>

  <ion-item color="item_entrada">
    <ion-label>Localização</ion-label>
    <ionic-selectable 
      #localizacoesComponent
      item-content
      [(ngModel)]="localizacao"
      [items]="localizacoes"
      itemValueField="id"
      itemTextField="nome"
      [canSearch]="true"
      [focusSearchbar]="true"
      (onChange)="insumoChange($event)"
      [hasVirtualScroll]="true" >
      <ng-template ionicSelectableItemTemplate let-item="item" class="my-center-text">
        <ion-item>
          <ion-label text-wrap class="label_12_b">
            {{item.nome}}
          </ion-label>
        </ion-item>
      </ng-template>
    </ionic-selectable>
  </ion-item>

  <ion-item color="item_entrada">
    <ion-label>Insumos</ion-label>
    <ionic-selectable 
      item-content 
      [(ngModel)]="insumosLocalizacoesSelecionados"
      [items]="insumosLocalizacoes"
      itemValueField="id"
      itemTextField="nomedoinsumo"
      [hasInfiniteScroll]="true"
      [canSearch]="true"
      [focusSearchbar]="true"
      (onChange)="imprimeItem($event)"
      [isMultiple]="true" 
      [isEnabled]="localizacoesComponent.value"
      [canClear]="true"
		  [placeholder]="localizacoesComponent.value ? '' : 'Selecione a localização primeiro'">

      <ng-template ionicSelectableItemTemplate let-item="item">
       
        <ion-item>
          <ion-label text-wrap class="label_12_b">
            {{item.insumo.nome}} 
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="label_14">
            Cod Almox: {{item.insumo.codigoalmox}}  -  Quantidade atual: {{item.quantidade}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-wrap class="label_12_b">
            Lote Fornecedor: {{item.loteFornecedor}} 
          </ion-label>
          <ion-label text-wrap class="label_12_b">
            Lote CR: {{item.loteCR}} 
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-wrap class="label_12_b">
            Lote LEI: {{item.loteLEI}} 
          </ion-label>
          <ion-label text-wrap class="label_12_b">
            Data de Validade: {{item.dataValidade}} 
          </ion-label>
          <ion-label text-wrap class="label_12_b">
            Aprovado pelo Controle da Qualidade: {{item.foiaprovado}} 
          </ion-label>
        </ion-item>
      </ng-template>

    </ionic-selectable>
  </ion-item>
  
  <ion-item color="item_entrada">
    <ion-label>Movimentar para</ion-label>
    <ionic-selectable 
      item-content
      [(ngModel)]="paralocalizacao"
      [items]="paralocalizacoes"
      itemValueField="id"
      itemTextField="nome"
      [canSearch]="true"
      [focusSearchbar]="true"
      [hasVirtualScroll]="true" >
      <ng-template ionicSelectableItemTemplate let-item="item" class="my-center-text">
        <ion-item>
          <ion-label text-wrap class="label_12_b">
            {{item.nome}}
          </ion-label>
        </ion-item>
      </ng-template>
    </ionic-selectable>
  </ion-item>

  <ion-item class text-center>
    <button ion-button (click)="gerarGridMovimentacao()">Gerar grid de movimentação</button>
  </ion-item>

  <ion-card *ngFor="let mov of movimentacao.itens; let i = index; let odd=odd; let even=even;"
   [ngClass]="{ odd: odd, even: even }" >
   
   <ion-card-header type="button" (click)="toggleDetails(mov.show,i)">
    <ion-icon name="arrow-down"></ion-icon>
    <ion-grid>
     <ion-row>
      <ion-col >
       <b>Codigo Almox</b>
        <p>{{mov.insumo.codigoalmox}}</p>
      </ion-col>
      <ion-col >
        <b>Insumo</b>
        <p>{{mov.insumo.nome}}</p>
      </ion-col>
      <ion-col >
        <b>Lote LEI</b>
        <p>{{mov.loteLEI}}</p>
      </ion-col>
      <ion-col >
        <b>Lote Fornecedor</b>
        <p>{{mov.loteFornecedor}}</p>
      </ion-col>
      <ion-col >
        <b>Lote CR</b>
        <p>{{mov.loteCR}}</p>
      </ion-col>
      <ion-col >
        <b>Lote ARM</b>
        <p>{{mov.loteARM}} </p>
      </ion-col>
      <ion-col >
        <b>Localização de Destino</b>
        <p>{{paralocalizacao.nome}}</p>
      </ion-col>
      <ion-col >
        <b>Exc</b>
        <p><ion-icon name="close-circle" (click)="excluiItem(mov)"></ion-icon></p>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-card-header>
    <ion-card-content>

      <ion-row *ngIf="mov.show" [hidden]="!fieldsGarantiaQualidade">
        <ion-col>
          <ion-item>
            <ion-label>Quantidade Origem: {{mov.quantidadeOrigem}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Quantidade movimentada:</ion-label>
            <ion-input type="number" [(ngModel)]="mov.quantidadeMovimentada"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="mov.show" [hidden]="fieldsGarantiaQualidade">
        <ion-col>
          <ion-item>
            <ion-label>Condições ambientais do local de amostragem:</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>oC:</ion-label>
            <ion-input type="text" [(ngModel)]="mov.condambamostragemgc"> </ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>%U.R.:</ion-label>
            <ion-input type="text" [(ngModel)]="mov.condambamostragemur"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="mov.show" [hidden]="fieldsGarantiaQualidade">
        <ion-col>
          <ion-item>
            <ion-label>Quantidades: {{mov.quantidadeOrigem}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Devolvido para o Almoxarifado do CECRF:</ion-label>
            <ion-input type="number" [(ngModel)]="mov.quantidadeMovimentada"> </ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Quantidade descartada:</ion-label>
            <ion-input type="number" [(ngModel)]="mov.quantidadeDescartada"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="mov.show" radio-group [(ngModel)]="mov.aprovado" [hidden]="fieldsGarantiaQualidade">
        <ion-col>
          <ion-item>
            <ion-label>Aprovado?</ion-label>
          </ion-item>
        </ion-col> 
        <ion-col>
          <ion-item>
            <ion-label>Sim</ion-label>
            <ion-radio value="true"></ion-radio>
          </ion-item>
        </ion-col>
            
              
        <ion-col>
          <ion-item>
            <ion-label>Não</ion-label>
            <ion-radio value="false"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>



    </ion-card-content>
  </ion-card>

  <ion-row>
      <ion-col col-12 style="text-align: right;" ><button ion-button color="secondary" [disabled]="botaoMovimenta" (click)="inserirMovimentacao()">Inserir Movimentação</button></ion-col>
  </ion-row>
 

</ion-content>
