page-cadastro-movimentacao {
    ion-grid{
        height: 100%;
    }
    ion-row{
        display: flex;
        align-items: center;
        justify-content: center;
        //height: 2%;
    }
    .cell-class {
        border-color: rgb(131, 125, 125); 
        border-width: .01em; 
        border-style:solid; margin-bottom : -1px;
        background-color: lightgrey
      }
      .card-vermelho {
        background-color: rgba(255, 0, 0, 0.3); // black
        //box-shadow: none;
      }
    
      .card-amarelo {
          background-color: rgba(255, 255, 153, 0.6); // black
          //box-shadow: none;
        }
    
      .card-verde {
          background-color: rgba(0, 255, 0, 0.3); // black
          //box-shadow: none;
      }
    
      .card-azul {
          background-color:rgba(0, 0, 255, 0.3); // black
          //box-shadow: none;
      }
    
}
