page-cadastro-movimentacao {
    ion-grid{
        height: 100%;
    }
    ion-row{
        display: flex;
        align-items: center;
        justify-content: center;
        //height: 2%;
    }
    .cell-class {
        border-color: rgb(131, 125, 125); 
        border-width: .01em; 
        border-style:solid; margin-bottom : -1px;
        background-color: lightgrey
      }
}
