<!--
  Generated template for the CategoriasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="categoria2">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categorias</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
      <ion-icon name="add-circle" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="categoria2">



<ion-item-group *ngFor="let item of itensCategorias">

  <ion-item-divider light>{{item.letra}}</ion-item-divider>
  <ion-item *ngFor="let it of item.arrayDeItens">
    <h3>{{it.nome}}</h3>
  </ion-item>

</ion-item-group>

</ion-content>
