<!--
  Generated template for the AdministracaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Administração</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-segment
    color="primary"
    (ionChange)="segmentChanged($event)"
  >
  <ion-segment-button value="perfis"> Perfis </ion-segment-button>
  <ion-segment-button value="paginas"> Páginas </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'perfis'">
      <ion-row>
        <ion-col>
          <ion-item style="text-align: center">
            <ion-label > <b>PERFIS CADASTRADOS</b> </ion-label>
          </ion-item>
        </ion-col>
        <ion-col style="text-align: center">
          <button ion-button expand="full" (click)="openModalNovoPerfil()">
            Cadastrar Novo Perfil
          </button>
          <button
            ion-button
            expand="full"
            color="secondary"
            (click)="openModalVincularPerfil()">
            Vincular Perfil ao Usuário
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-row >
            <ion-col><ion-item style="text-align: center"><b>NOME</b></ion-item></ion-col>
            <ion-col><ion-item style="text-align: center"><b>DESCRIÇÃO</b></ion-item></ion-col>
          </ion-row>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row *ngFor="let p of perfis">
        <ion-col>
          <ion-row>
            <ion-col><ion-item style="text-align: center">{{p.nome}}</ion-item></ion-col>
            <ion-col><ion-item style="text-align: center">{{p.descricao}}</ion-item></ion-col>
          </ion-row>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-list>
    <ion-list *ngSwitchCase="'paginas'">
      <ion-row>
        <ion-col>
          <ion-item style="text-align: center">
            <ion-label > <b>PÁGINAS CADASTRADAS</b> </ion-label>
          </ion-item>
        </ion-col>
        <ion-col style="text-align: center">
          <button
            ion-button
            expand="full"
            color="secondary"
            (click)="openModalVincularPagina()">
            Vincular Página ao Perfil
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-row >
            <ion-col><ion-item style="text-align: center"><b>NOME</b></ion-item></ion-col>
            <ion-col><ion-item style="text-align: center"><b>DESCRIÇÃO</b></ion-item></ion-col>
          </ion-row>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row *ngFor="let pa of paginas">
        <ion-col>
          <ion-row>
            <ion-col><ion-item style="text-align: center">{{pa.pagina}}</ion-item></ion-col>
            <ion-col><ion-item style="text-align: center">{{pa.nome}}</ion-item></ion-col>
          </ion-row>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    
    </ion-list>
  </div>

  <ion-card>
    <ion-card-header type="button" (click)="toggleDetails()">
      
      <ion-grid>
        <ion-row>
          
          <ion-label><ion-icon name="arrow-down"></ion-icon> <b>USUÁRIOS</b></ion-label>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-grid *ngIf="show">
          <ion-row class="alinha_itens_center">
            <ion-col class="cell-class"><ion-label><b>Nome</b></ion-label></ion-col>
            <ion-col class="cell-class"><ion-label><b>Email de Login</b></ion-label></ion-col>
            <ion-col class="cell-class"><ion-label><b>Perfis</b></ion-label></ion-col>
          </ion-row>
          <ion-row *ngFor="let c of colaboradores">
            <ion-col class="cell-class">{{c.nome}}</ion-col>
            <ion-col class="cell-class">{{c.email}}</ion-col>
            <ion-col class="cell-class">
             
                <ion-label *ngFor="let cp of c.perfis">
                  {{cp.nome}}
                </ion-label>
              
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-item>
    
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item style="text-align: center">
          <ion-label> <b> ÓRGÃOS/ENTIDADES PARA CONTROLE </b> </ion-label>
        </ion-item>
      </ion-col>
      <ion-col style="text-align: center">
        <button
            ion-button
            expand="full"
            color="secondary"
            (click)="openModalCadastrarOrgao()">
            CADASTRAR NOVO ÓRGÃO/ENTIDADE
          </button>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let o of orgaos">
      <ion-col><ion-item style="text-align: center">{{o.nome}}</ion-item></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
