// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.container2{
    height: calc(100vh - 56px);
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .label_12 {
    font-size: 12px;
  }
  .label_12_b {
    font-size: 12px;
    font-weight: bold;
  }
  .label_13 {
    font-size: 13px;
  }
  .label_14 {
    font-size: 14px;
  }
  .label_15 {
    font-size: 15px;
  }

  .center-icons {
    display: flex;
    justify-content: right;
    align-items: center;
    //height: 200px;
    //border: 3px solid green; 
  }

  .odd{
    background-color: rgb(150, 150, 245);
  }
  .even{
    background-color: rgb(192, 243, 157);
  }

  .card-vermelho {
    background-color: rgba(255, 0, 0, 0.3); // black
    //box-shadow: none;
  }

  .card-amarelo {
      background-color: rgba(255, 255, 153, 0.6); // black
      //box-shadow: none;
    }

  .card-verde {
      background-color: rgba(0, 255, 0, 0.3); // black
      //box-shadow: none;
  }

  .card-azul {
      background-color:rgba(0, 0, 255, 0.3); // black
      //box-shadow: none;
  }

  .update-profile-modal .modal-wrapper{
    min-height: 400px;
    height: auto;
  }

  .center-icons-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    //height: 200px;
    //border: 3px solid green; 
  }