page-entrada {

}

.center-icons {
  display: flex;
  justify-content: right;
  align-items: center;
  //height: 200px;
  //border: 3px solid green; 
}

.alinha{
    align-items: center;
}

.tamanho-da-font{
  font-size: 1.2rem;
}
