<!--
  Generated template for the EntradaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Entradas</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openCadastroEntrada()">
      <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let ent of itensEntradas; let i = index;">
    <ion-card-header type="button" (click)="toggleDetails(ent.show,i)">
      <ion-icon name="arrow-down"></ion-icon>
      <ion-item>
        <p>Número da Requisição (LIA): {{ent.numLIA}}</p>
        <p>Data de Entrada: {{ent.dataEntrada}}</p>
        <p>Lote de Recebimento: {{ent.loteRecebimento}}</p>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
      <ion-list *ngIf="ent.show">
        <ion-label>Detalhes</ion-label>
        <ion-grid *ngFor="let ient of ent.itens" class="tamanho-da-font">
          <ion-row><ion-col>Produto: {{ient.insumo.nome}} </ion-col></ion-row>
          <ion-row><ion-col>Lote Fornecedor: {{ient.loteFornecedor}}</ion-col></ion-row>
          <ion-row>
            <ion-col>Lote CR: {{ient.loteCR}}</ion-col>
            <ion-col>Lote LEI: {{ient.loteLEI}}</ion-col>
          </ion-row>
          <ion-row><ion-col>Data de Validade: {{ient.dataValidade | date: 'dd/MM/yyyy'}}</ion-col><ion-col>Data de Irradiação: {{ient.dataIrradiacao | date: 'dd/MM/yyyy H:mm'}}</ion-col></ion-row>
          <ion-row><ion-col>Quantidade Entrada: {{ient.quantidade}}</ion-col><ion-col>Quantidade Atual: {{ient.insumo.quantidade}}</ion-col></ion-row>
          <ion-row><ion-col>Quantidade de etiquetas: <input type="number" [(ngModel)]="ient.quantidadeetiquetas"> </ion-col></ion-row>
        </ion-grid>
        <button ion-button (click)="imprimirEtiquetas(ent)">Imprimir etiquetas</button>
      </ion-list>
    </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

