<!--
  Generated template for the CadastroEntradaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Entrada de Insumos
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()" >
        <span ion-text color="primary" showWhen="ios">Cancel </span>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  
  <ion-item color="item_entrada">
    <ion-label>Fornecedor</ion-label>
    <ionic-selectable 
      item-content 
      [(ngModel)]="fornecedor"
      [items]="fornecedores"
      itemValueField="id"
      itemTextField="nome"
      [canSearch]="true"
      [focusSearchbar]="true"
      [hasVirtualScroll]="true" >
      <ng-template ionicSelectableItemTemplate let-port="item" class="my-center-text">
        <ion-item>
          <ion-label text-wrap class="label_12_b">
            {{port.nome}}
          </ion-label>
        </ion-item>

      </ng-template>

    </ionic-selectable>
  </ion-item>

  <ion-item color="item_entrada">
    <ion-label>Localização</ion-label>
    <ionic-selectable 
      item-content 
      [(ngModel)]="localizacao"
      [items]="localizacoes"
      itemValueField="id"
      itemTextField="nome"
      [canSearch]="true"
      [focusSearchbar]="true"
      [hasVirtualScroll]="true" >
      <ng-template ionicSelectableItemTemplate let-port="item" class="my-center-text">
        <ion-item>
          <ion-label text-wrap class="label_12_b">
            {{port.nome}}
          </ion-label>
        </ion-item>

      </ng-template>

    </ionic-selectable>
  </ion-item>

  <ion-item color="item_entrada">
    <ion-label>Data emissão</ion-label>
    <ion-datetime [(ngModel)]="dataEntrada" displayFormat="DD/MMM/YYYY" displayTimezone="utc"></ion-datetime>
  </ion-item>

  <ion-item color="item_entrada">
    <ion-label>Número requisição (LIA)</ion-label>
    <ion-input type="text" [(ngModel)]="numLIA"> </ion-input>
  </ion-item>

  <ion-item color="item_entrada">
    <input type="file"  (change)="onUploadChange($event)" multiple/>
  </ion-item>


  <form [formGroup]="formGroup" margin-bottom (ngSubmit)="insereListaEntrada()">
  <ion-item>
    <ion-label>Descrição do Insumo</ion-label>
    <ionic-selectable 
      item-content 
      [(ngModel)]="citemInsumo"
      [items]="citensInsumos"
      formControlName="insumo"
      itemValueField="id"
      itemTextField="nomecodalmox"
      [canSearch]="true"
      (onSearch)="searchInsumo($event)"
      (onChange)="insereInsumoEntradaDTO($event)"
      [focusSearchbar]="true"
      [hasInfiniteScroll]="true"
      (onInfiniteScroll)="doInfinite($event)">

      <ng-template ionicSelectableItemTemplate let-port="item">
       
        <ion-item>
          <ion-label text-wrap class="label_12_b">
            {{port.nome}} 
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="label_14">
            Cod Almox: {{port.codigoalmox}}  -  Quantidade atual: {{port.quantidade}}
          </ion-label>
        </ion-item>

      </ng-template>

    </ionic-selectable>
  </ion-item>
  <ion-item>
    <ion-label>Unidade Recebida</ion-label>
    <ionic-selectable 
      item-content 
      [(ngModel)]="unidadeRecebida"
      [items]="unidadesRecebida"
      formControlName="unidadeRecebida"
      itemValueField="id"
      itemTextField="nome"
      [canSearch]="true"
      [focusSearchbar]="true"
      (onChange)="insereunidadeRecebidaDTO($event)">

      <ng-template ionicSelectableItemTemplate let-port="item">
       
        <ion-item>
          <ion-label text-wrap class="label_12_b">
            {{port.nome}} 
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="label_14">
            Sigla: {{port.sigla}}
          </ion-label>
        </ion-item>
      </ng-template>

    </ionic-selectable>
  </ion-item>
  <ion-item>
    <ion-label >Quantidade Recebida</ion-label>
    <ion-input type="number" formControlName="quantidade"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Unidade de Entrada</ion-label>
    <ionic-selectable 
      item-content 
      [(ngModel)]="unidadeEntrada"
      [items]="unidadesEntrada"
      formControlName="unidadeEntrada"
      itemValueField="id"
      itemTextField="nome"
      [canSearch]="true"
      [focusSearchbar]="true"
      (onChange)="insereunidadeEntradaDTO($event)">

      <ng-template ionicSelectableItemTemplate let-port="item">
       
        <ion-item>
          <ion-label text-wrap class="label_12_b">
            {{port.nome}} 
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="label_14">
            Sigla: {{port.sigla}}
          </ion-label>
        </ion-item>

      </ng-template>

    </ionic-selectable>
  </ion-item>
  <ion-item>
    <ion-label>Lote Fabricante</ion-label>
    <ion-input type="text" formControlName="loteFornecedor"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Lote CR</ion-label>
    <ion-input type="text" formControlName="loteCR"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Data Irradiação</ion-label>
    <ion-datetime formControlName="dataIrradiacao" displayFormat="DD/MMM/YYYY" max="2099" pickerFormat="DD/MMM/YYYY"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Data Validade do Fabricante</ion-label>
    <ion-datetime formControlName="dataValidade" displayFormat="DD/MMM/YYYY" max="2099" pickerFormat="DD/MMM/YYYY"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-badge item-right color="danger" *ngIf="!formGroup.valid">Inválido</ion-badge>
    <ion-badge item-right color="secondary" *ngIf="formGroup.valid">Válido</ion-badge>
    <button ion-button (click)="reset()" [disabled]="!formGroup.valid">
      Limpar
    </button>
    <button   ion-button type="submit" [disabled]="!formGroup.valid">Incluir</button>
  </ion-item>
</form>

  <ion-grid>
    <ion-row>
      <ion-col col-1>
        Cod
      </ion-col>
      <ion-col col-2>
        Insumo
      </ion-col>
      <ion-col col-1>
        Un. Entrada
      </ion-col>
      <ion-col col-1>
        Quant
      </ion-col>
      <ion-col col-1>
        Lote Fornecedor
      </ion-col>
      <ion-col col-1>
        Lote CR
      </ion-col>
      <ion-col col-1>
        Dt Irradiação
      </ion-col>
      <ion-col col-1>
        Dt Validade do Forn.
      </ion-col>
      <ion-col col-2>
        Exc
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let ient of citensnovaentrada">
      <ion-col col-1>
        {{ient.insumo.codigoalmox}}
      </ion-col>
      <ion-col col-2>
        {{ient.insumo.nome}}
      </ion-col>
      <ion-col col-1>
        {{ient.insumo.unidade.sigla}}
      </ion-col>
      <ion-col col-1>
        {{ient.quantidade}}
      </ion-col>
      <ion-col col-1>
        {{ient.loteFornecedor}}
      </ion-col>
      <ion-col col-1>
        {{ient.loteCR}}
      </ion-col>
      <ion-col col-1>
        {{ient.dataIrradiacao | date: 'dd/MM/yyyy H:mm'}}
      </ion-col>
      <ion-col col-1>
        {{ient.dataValidade | date: 'dd/MM/yyyy'}}
      </ion-col>
      <ion-col col-2>
        <ion-icon name="close-circle" (click)="excluiItem(ient)"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 style="text-align: right;" ><button ion-button color="secondary" [disabled]="botaoEntrada" (click)="inserirEntrada()">Inserir entrada</button></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
