<!--
  Generated template for the InventarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inventário</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 

  <ion-card *ngFor="let item of itensLocalizacoesOrd; let i = index;">
    <ion-card-header type="button" (click)="toggleDetails(item.show,i)">
      <ion-icon name="arrow-down"></ion-icon>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h6>{{item.localizacao.objlocalizacaofilha != null ? item.localizacao.objlocalizacaofilha.nome+" => "+ item.localizacao.nome : item.localizacao.nome}}</h6>
          </ion-col>
          <ion-col col-1>
            <ion-icon name="search" (click)="openItem(item.localizacao.id, item.localizacao.nome, item.localizacao.atualizaqtdminima, item.localizacao.aprovacao, item.localizacao.localizacao_filha)" title="Visualizar insumos da localização" positionV="bottom"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="item.show">
        <ion-list *ngFor="let itemloc of item.localizacoesfilhas">
          <ion-row>
            <ion-col>
              <h4>{{itemloc.objlocalizacaofilha.id == item.localizacao.id ? itemloc.nome:itemloc.objlocalizacaofilha.nome+" - "+itemloc.nome}}</h4>
            </ion-col>
            <ion-col col-1>
              <ion-icon name="search" (click)="openItem(itemloc.id, itemloc.nome, itemloc.atualizaqtdminima, itemloc.aprovacao, itemloc.localizacao_filha)" title="Visualizar insumos da localização" positionV="bottom"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-list>
    </ion-card-content>
  </ion-card>




</ion-content>
