
<ion-header>
  <ion-navbar>
    <ion-title>signup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="signupUser()">
    <ion-item>
      <ion-label stacked>Nome*</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.nome.dirty && formGroup.controls.nome.errors" margin-left >Valor inválido</p>
    <ion-item>
      <ion-label stacked>CPF*</ion-label>
      <ion-input formControlName="cpf" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.cpf.dirty && formGroup.controls.cpf.errors" margin-left >Valor inválido</p>
    <ion-item>
      <ion-label stacked>Email*</ion-label>
      <ion-input formControlName="email"  type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors" margin-left >Valor inválido</p>
    <ion-item>
      <ion-label stacked>Senha*</ion-label>
      <ion-input formControlName="senha"  type="password"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.senha.dirty && formGroup.controls.senha.errors" margin-left >Valor inválido</p>
    <ion-item>
      <ion-label stacked>Confirmar Senha*</ion-label>
      <ion-input formControlName="confirmarsenha" id="confirmarsenha" type="password"></ion-input>
    </ion-item> 
      <ion-label *ngIf="formGroup.controls['confirmarsenha'].errors?.MatchPassword" class="danger">
        Senhas não conferem!
  </ion-label>
    
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Registrar</button>
  </form>
</ion-content>
